<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation Receipt</title>
</head>

<body>
    <h1>{{.Name}} Receipt</h1>
    <hr />
    <p>
        <strong>Delivery Option: </strong> {{.DeliveryOption}}
    </p>
    <p>
        <strong>Delivery Address: </strong> {{.DeliveryAddress}}
    </p>
    <p>
        <strong>Customer ID: </strong> {{.CustomerID}}
    </p>
    <p>
        <strong>Name: </strong> {{.Name}}
    </p>
    <p>
        <strong>Phone Number: </strong> <a href=`tel:{{.PhoneNumber}}`>{{.PhoneNumber}}</a>
    </p>
    <p>
        <strong>Desired Arrival Time: </strong> {{.DesiredArrivalTime}}
    </p>
    <p>
        <strong>Seller Note: </strong> {{.SellerNote}}
    </p>
    <div>
        <h1>Cart Information: </h1>
        {{range $product := .ShoppingCart}}
        <div style="margin-bottom: 10px;">
            <strong>Item Name:</strong> {{$product.ItemName}} <br />
            <strong>Quantity: </strong> {{$product.Quantity}} <br />
            <strong>Price: </strong> ${{$product.Price}} <br />
        </div>
        {{end}}
    </div>
</body>

</html>